* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,
body,
#app {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

#app {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.image-list {
	display: flex;
}
.clipper,
.preview {
	width: 200px;
	height: 200px;
}
.preview {
	display: flex;
	align-items: center;
	justify-content: center;
}
.preview img {
	width: 50px;
	height: 50px;
	margin: 0 8px;
}
#app button {
	margin: 10px;
	padding: 4px 8px;
	border-radius: 4px;
	outline: none;
	border: none;
	background-color: #289ef8;
	color: #fff;
	cursor: pointer;
	transition: all 0.3s;
}
#app button:hover {
	transform: scale(1.05);
}
